* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.intro-chunk {
  padding: 16px;
  margin-left: 152px;
  min-width: max-content;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  margin: 0 auto;
}

section {
  padding-right: 24px;
  padding-left: 24px;
  border-top: 10px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
  padding-bottom: 48px;
}


.indented-heading {
  background-color: orange;
  border-bottom: 8px solid hsl(45deg, 100%, 30%);
  border-radius: 2px;
  padding: 16px;
  padding-left: 48px;
  padding-right: 48px;
  margin-left: -48px;
  margin-top: 8px;
  width: max-content;
}

.card {
  background-color: white;
  padding: 16px;
  margin-top: 64px;
  margin-right: 128px;
  margin-left: 128px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  min-width: min-content;
}
